$font-size-base: 0.7375rem;

$h1-font-size: 1.5rem;
$h2-font-size: 1.2rem;
$h3-font-size: 0.9rem;

$gray-500: #adb5bd;
$teal: #d0c154;

.table td {
  padding: 0.25rem;
  padding-bottom: 0.25rem;
  padding-right: 0.25rem;
  padding-left: 0.25rem;
  padding-top: 0.25rem;
}

$table-cell-padding: 0.25rem;

.btn-danger {
  color: #fff;
  background-color: #392e9f;
  border-color: #2f326e;
}
